html { font-family: Lucida Console, Monospace; font-size: 16px; }
body { background-color: #FFFFFF; color: #000000; font-size: inherit; }
button { width: 100%; font-family: inherit; font-size: inherit; }
input { width: 100%; font-family: inherit; font-size: inherit; }
textarea { width: 100%; font-family: inherit; font-size: inherit; }
